<div class="bg">
  <div class="login-page">
  <div class="form">
    <div class="icon">
      <img src="./assets/images/icon.jpg" alt="" />
    </div>
    <br />
    <form
      class="login-form"
      #form="ngForm"
      (ngSubmit)="form.valid && login()"
      novalidate
    >
      <div class="form-group">
        <input
          class="form-control textbox"
          type="email"
          placeholder="Username"
          name="username"
          [(ngModel)]="username"
          #email="ngModel"
          [ngClass]="{ 'is-invalid': form.submitted && email.invalid }"
          required
          email
        />
        <div *ngIf="form.submitted && email.invalid" class="text-white">
          <div *ngIf="email.errors.required" class="valid">Username is required</div>
          <div *ngIf="email.errors.email" class="valid">
            Email must be a valid email address
          </div>
        </div>
        <div class="form-group">
          <input
            class="form-control textbox"
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password" 
            #pwd="ngModel"
            [ngClass]="{ 'is-invalid': form.submitted && pwd.invalid }"
            required
            minlength="4"
          />
          <div
            *ngIf="form.submitted && pwd.invalid"
            class="text-white text-start"
          >
            <div *ngIf="pwd.errors.required">Password is required</div>
            <div *ngIf="pwd.errors.minlength">
              Password must be at least 6 characters 
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Login</button>
      </div>
      <!-- <button>login</button>
      <p class="newUser"><a>New Registration</a></p> -->

      <div class="checkbox">
        <label for="chkRem"><input type="checkbox" id="chkRem" /> &nbsp;<span>Remember me</span></label>
      </div>

    </form>
  </div>
</div>
</div>